$color-primary-red: #f25f3a;
$color-primary-dark: #242d52;

$color-grey-dark: #9095a7;
$color-dark: #1d1e25;
$color-pale-red: #ffefeb;
$color-white: #fafafa;

$padding-side: 9%;
$padding-side-mobile: 7%;